$navbarColor: #005f99;
$dashboardBlue: #005f99;
$dashboardPink: #ff449f;
$dashboardCyan: #00ead3;
$fontFamilyRoboto: "Roboto", sans-serif;
$fontFamilyPoppins: "Poppins", sans-serif;
$fontFamilyDMSerifDisplay: "DM Serif Display", serif;
$fontFamilyMontserrat: "Montserrat", sans-serif;
$oldPriceColor: rgb(144, 144, 144);
$addToCartButtonColor: rgb(255, 225, 0);
$addToWishlistButtonColor: rgb(255, 45, 80);
$shadowColor: rgb(189, 189, 189);
$cartBackgroundColor: rgb(226, 226, 226);
$paymentSuccess: rgb(0, 164, 93);
$screenOne: 1240px;
$screenTwo: 1000px;
$screenTwoTwoThree: 900px;
$screenTwoThree: 800px;
$screenThree: 700px;
$screenFour: 500px;
$screenFive: 400px;
$screenThreeFour: 600px;
